@page
@model Blog.WebApp.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Todos os Posts";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Criar Novo Post</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].DataPublicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPublicacao)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>